<!DOCTYPE html>
<html lang="en">
<head>

    <title>Pokemon Battle</title>
</head>
<body background='https://i.imgur.com/ZIZIBeP.jpg'>
	<center>
	<h2><img src="{{picture1}}" width="150" height="150">{{name1}} VS {{name2}} <img src="{{picture2}}" width="150" height="150"></h2> 
	<br>
	<h2>{{result['prob']}}% {{result['win']}} Wins!</h2>
	<img src="{{result['graph']}}" align='middle'/>
    <br>
	<br>
	<button onclick="goBack()">Search Again > </button>
	<script>
	function goBack() {
	window.history.back();
	}
	</script>
	</center>
</body>
</html>